/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(0, 55%, 36%);
  --black-color: hsl(225, 12%, 12%);
  --dark-color: #240000;
  --white-color: hsl(0, 0%, 100%);
  --text-color: hsl(0, 0%, 95%);
  --button-color: #cfc9c9 ;
  --body-color: linear-gradient(180deg, rgba(148,0,0,1) 0%, rgba(30,30,30,1) 100%); 

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Montserrat", sans-serif;
  --biggest-font-size: 2.5rem;
  --tiny-font-size: .625rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-semi-bold: 600;
  --font-bold: 700;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1150px) {
  :root {
    --biggest-font-size: 3.5rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}


.body-app {
  font-family: var(--body-font);
  background: rgb(148,0,0);
  background: linear-gradient(180deg, rgb(109, 3, 3) 0%, rgba(30,30,30,1) 100%); 
  color: var(--text-color);
  background-attachment: fixed;
}



ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

/* Remove the property of 100vh, when inserting its content */
.section {
  height: 100vh;
  padding-block: 2.5rem;
  align-items: center;
}

.settings{
  height: 100vh;
  padding-block: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.settings-container{
  padding: 25px;
  margin-top: 10%;
  background-color: #222;
  opacity: 1;
  width: 100%;
  height: 80%;
  border-radius: 30px;
}

.settings-container h2{
  font-weight: 500;
}

.settings-container p{
  font-size: 20px;
}

.settings-container-mini{
  margin-top: 7%;
  background-color: #222;
  opacity: 1;
  width: 100%;
  height: 15%;
  border-radius: 30px;
}

.td1{
  border: 2px solid rgba(165,157,157,0.753);
  border-radius: 30px 0px 0px 30px;
}

.td2{
  border: 2px solid rgba(165,157,157,0.753);
  border-radius: 0px 30px 30px 0px;
}

.settings-container-2{
  margin-top: 5%;
  background-color: #222;
  opacity: 1;
  width: 100%;
  height: 67%;
  border-radius: 30px;
  border: 2px solid rgba(165,157,157,0.753);
}

.settings h1 {
  font-size: var(--biggest-font-size);
  color: var(--text-color);
  text-align: center;
}

.settings-container h1{
  text-align: left;
  font-weight: 600;
  font-size: 25px;
  margin-bottom: 5px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 54px;
  height: 28px;
  margin-left: 10px;
  transform: translateY(-5px);
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #940909;
}

input:focus + .slider {
  box-shadow: 0 0 1px #940909;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.configs{
  margin-top: 15px;
}
.configs p, li{
  margin-bottom: 10px;
}

.config_list a{
  color: var(--text-color);
  font-size: 20px;
}

.configs hr{
  margin-top: 20px;
  margin-bottom: 20px;
}


.section h1 {
  font-size: var(--biggest-font-size);
  color: var(--text-color);
  text-align: justify;
}

/*=============== navegacion del sitio ===============*/
.navigation{
  position: fixed;
  display: flex;
  width: 30%;
  background-color: transparent;
}

.nav {
  position: fixed;
  bottom: .5rem;
  left: .1rem;
  right: 0;
  background-color: var(--black-color);
  width: 88%;
  margin-inline: auto;
  box-shadow: 0 2px 16px hsla(228, 95%, 4%, .1);
  padding: 1rem 1.75rem;
  border-radius: 4rem;
  z-index: var(--z-fixed);
  
}

.top-nav{
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-around;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--black-color);
  width: 100%;
  height: 110px;
  box-shadow: 0 2px 16px hsla(228, 95%, 4%, .1);
  padding: 15px;

}

.profile button{
  background-color: var(--black-color);
  width: 250px;
  height: 80px;
  padding: 10px;
  border-radius: 15px;
  border-width: 1px 1px 5px;
  border-color: #9c9898;
  border-style:groove;
  text-align: center;
  color: var(--text-color);
  font-family: 'montserrat';
  font-weight: 700;
  font-size: 30px;
  align-items: center;
  display: flex;
}

.profile-icon{
  text-align: center;
  padding: 5px 10px;
  color: var(--black-color);
  background-color: #bdbdbd;
  border-radius: 50%;
}

.name-top{
  text-align: left;
  padding-left: 10px;
  font-size: 15px;
}

.name-top label{
  color: gold;
}

.name-top a{
  color: var(--text-color);
  
}

.topbar-buttons{
  height: 80px;
  gap: 5px;
  display: flex;
  flex-direction: column;
}

.rank-button{
  height: 40px;
  width: 120px;
  border-radius: 10px;
  border-width: 1px 1px 5px;
  border-color: #9c9898;
  border-style:groove;
  background-color: var(--black-color);
  font-family: var(--body-font);
  color: var(--text-color);
}

.rank-button a{
  color: var(--text-color);
}

a{
  color: var(--text-color);
}



.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__link {
  color: var(--text-color);
  font-size: 1.5rem;
  transition: color .4s;
}

.nav__link:hover {
  color: var(--white-color);
  padding: 5px 8px;
  border-width: 1px 1px 5px;
  border-color: #9c9898;
  border-style:groove;
  border-radius: 10px;
  transition: all .3s;
  background-color: #444;
}

.home {
  border: none;
  width: 40px;
  height: 40px;
  background-color: var(--first-color);
  border-radius: 25%;
  cursor: pointer;
}

.home-icon {
  border: none;
  outline: none;
  width: 40px;
  height: 40px;
  padding: 5px;
  background-color: #620707;
  border: 2px solid #240000;
  border-radius: 25%;
  font-size: 1.5rem;
}

.home-icon:hover{
  padding: 8px;
  transition: .3s all;
}

.body-login{
  height: 100vh;
  background-color: var(--dark-color);
  font-family: var(--body-font);
  color: var(--text-color);
  padding: 20px;
  padding-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.body-register{
  height: 100vh;
  background-color: var(--dark-color);
  font-family: var(--body-font);
  color: var(--text-color);
  padding: 20px;
  padding-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.header{
  margin-top: 20%;
}


input{
  font-family: var(--body-font);
}

.submit-btn{
  width: 100%;
  height: 50px;
  margin-bottom: 15px;
  font-size: 20px;
  background: #222;
  color: var(--text-color);
  font-weight: 700;
  border: 2px solid #222;
  border-radius: 30px;
  cursor: pointer;
  transition: .3s;
}


.google-login{
  width: 100%;
  height: 50px;
  margin-bottom: 15px;
  font-size: 20px;
  background-color: white;
  color: var(--black-color);
  font-family: var(--body-font);
  font-weight: 700;
  border: 2px solid #222;
  border-radius: 30px;
  cursor: pointer;
  transition: .3s;
}

.login-form{
  margin-top: 50%;
  width: 95%;
  padding: 20px;
  background-color: var(--white-color);
  font-family: var(--body-font);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}



.sign-up-link{
  color: var(--black-color);
}

.sign-up-link{
  text-align: center;
  font-size: 15px;
  margin-top: 20px;
}
.sign-up-link a{
  color: #000;
  font-weight: 600;
}


.input-field{
  width: 100%;
  height: 50px;
  font-size: 17px;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 15px;
  border: #bdbdbd 2px solid;
  box-shadow: 0px 5px 10px 1px rgba(0,0,0, 0.05);
  outline: none;
  transition: .3s;
}

::placeholder{
    font-weight: 500;
    color: #222;
}

.body-login h1{
  font-size: 35px;
}

.body-login p{
  font-size: 20px;
  text-align: center;
}

.body-register p{
  text-align: center;
}

.login-form p{
  font-size: 15px;
}

.login-form a:hover{
  text-decoration: underline;
}

/* Active link */
.active-link {
  color: var(--white-color);
}

/*   settings    */

.settings-container{
  padding: 25px;
  margin-top: 10%;
  background-color: #222;
  opacity: 1;
  width: 100%;
  height: 80%;
  border-radius: 30px;
}

.settings-container h2{
  font-weight: 500;
}

.settings-container p{
  font-size: 20px;
}

.question-container{
  margin: 20px;
  padding: 20px;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: var(--black-color);
  border-radius: 25px;
}

.question-container h1{
  margin-bottom: 20px;
}
.question-container a{
  left: 0;
  color: var(--text-color);
  font-size: 30px;
}

.question-header a{
  top: 43px;
  left: 10%;
  position: absolute;
}

.container-enunciado{
  width: 95%;
  height:20%;
  max-height: 400px;
  background-color: var(--white-color);
  border-radius: 20px;
  padding: 15px;
  overflow: auto;
}

.container-enunciado p{
  color: var(--black-color);
  font-weight: 600;
}
.container-enunciado::-webkit-scrollbar{
  width: 7px;
}
.container-enunciado::-webkit-scrollbar-thumb{
  background: var(--black-color);
  border-radius: 30px;
}

.opciones-respuesta{
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 95%;
}

.opciones-respuesta button{
  padding: 20px;
  display: flex;
  align-items: center;
  text-align: left;
  height: 22.5%;
  border-radius: 25px;
  margin-bottom: 10px;
  border-width: 1px 1px 5px;
  border-color: #9c9898;
  border-style:groove;
  font-size: 15px;
  color: var(--text-color);
  font-family: var(--font-bold);
  background-color: var(--black-color)
}

.opciones-respuesta button:hover{
  transition: .3s all;
  cursor: pointer;
  background-color: #9c9898;
  color: var(--black-color);
  font-weight: 500;
  transform: translateY(2px);
  border: 1px solid #333;
}

.opciones-respuesta button:focus{
  background-color: #9c9898;
}

.opciones-respuesta button:focus label{
  background-color: var(--black-color);
  color: var(--text-color);
}

.opciones-respuesta label{
  background-color: #ccc;
  margin-right: 10px;
  padding: 13px 20px;
  font-size: 30px;
  border-radius: 50%;
  color: var(--black-color);
  font-weight: 800;
}

.opciones-respuesta button:hover label{
  background-color: var(--black-color);
  color: var(--text-color);
  transition: .3s all;

}


.opciones-respuesta button:active label{
  color:var(--text-color);
  background-color: var(--black-color);
}

.btn-enviar{
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-enviar button{
  margin-bottom: 20px;
  width: 50%;
  height: 60px;
  font-family: var(--body-font);
  color: #115F10;
  border-width: 1px 1px 5px;
  border-color: #115F10;
  font-weight: 700;
  font-size: 18px;
  border-radius: 20px;
  background-color: #309C2E;
}

.btn-enviar button a{
  color: #115F10;
}

.btn-enviar button:hover a{
  color: #206b1f;
  transition: all .3s;
}

.btn-enviar button:active{
  transform: translateY(2px);
  border: 2px solid #115F10;
  cursor: pointer;
  transition: all .3s;
}

.btn-enviar button:hover{
  border-width: 1px 2px 5px;
  color: #206b1f;
  transition: all .3s;
  background-color: #3bc039;
  cursor: pointer;
}

/*=============== BREAKPOINTS ===============*/

/* Para sitios de escritorio */

@media screen and (min-width: 1080px){

  .body-login, .body-register{
    padding-top: 20px;
  }
  .login-form{
    margin-top: 0;
  }

  .header{
    margin-top: 0;
  }

  .top-nav{
    width: 30%;
  }

  .nav{
    opacity: 0;

  }


}

/* For medium devices */
@media screen and (min-width: 450px){
  .nav {
    width: 350px;
  }

  .login-form p{
    font-size: 10px;
  }



  .nav {
    position: fixed;
    bottom: .5rem;
    left: .1rem;
    right: 0;
    background-color: var(--black-color);
    width: 88%;
    margin-inline: auto;
    box-shadow: 0 2px 16px hsla(228, 95%, 4%, .1);
    padding: 1rem 1.75rem;
    border-radius: 4rem;
    z-index: var(--z-fixed);
    
  }

}

/* For large devices */
@media screen and (min-width: 1150px) {
  .container {
    margin-inline: auto;
  }
 .body-login{
  padding-top: 30px;
  }

  .login-form{
    width: 30%;
  }

  .body-app{
    display: flex;
    transition: .3s all;
  }

  .navigation{
    background-color: var(--black-color);
    height: 100vh;
  }

  .header{
    padding-bottom: 10%;
    text-align: center;
  }


  .nav {
    position: fixed;
    bottom: .1rem;
    left: 0;
    background-color: var(--black-color);
    width: 30%;
    margin-inline: auto;
    box-shadow: 0 2px 16px hsla(228, 95%, 4%, .1);
    padding: 1rem 1.75rem;
    border-radius: 4rem;
    z-index: var(--z-fixed);
    
  }
}

/*========= BUTTONS ========*/
.btn-intial{
  margin-left: 14%;
  padding: 15px ;
  border-radius: 50%;
  width: 90px;
  height: 90px;
  background-color: var(--button-color);
  cursor: pointer;
  border-width: 0px 0px 5px;
  border-color: #9c9898;
  border-style:groove;
}
.btn-intial i{
  font-size: 45px;
  opacity: 1;
  color: #9c9898;
}

.btn-intial:hover{
  background-color: #777777;
  border: 2px solid #9c9898;
  transform: translateY(2px);
  transition: .3s all;
}

.btn-intial:hover i{
  color: #bdbdbd;
}

.top-nav button:hover{
  cursor: pointer;
  transform: translateY(2px);
  border: 1px solid #333;
  background-color: hsl(228, 12%, 8%);
  transition: .3s all;
}

/* ======= prueba========*/
.bar-chart {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 10px;
  height: 200px ;
  width: 100%;
}

.bar {
  text-align: center;
  color: rgb(0, 0, 0);
  font-weight: bold ;
}
.mat{
  background-color: rgba(233, 231, 231, 0.877);
  animation: fillmat 2s forwards;
  border-radius: 5px;
  width: 30px;
}
.cie{
  background-color: rgba(233, 231, 231, 0.877);
  animation: fillcie 2s forwards;
  border-radius: 5px;
  width: 30px;
}
.soc{
  background-color: rgba(233, 231, 231, 0.877);
  animation: fillsoc 2s forwards;
  border-radius: 5px;
  width: 30px;
}
.ing{
  background-color: rgba(233, 231, 231, 0.877);
  animation: filling 2s forwards;
  border-radius: 5px;
  width: 30px;
}
.esp{
  background-color: rgba(233, 231, 231, 0.877);
  animation: fillesp 2s forwards;
  border-radius: 5px;
  width: 30px;
}
.hr2{
  width: 55%;
  height: 5px;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  justify-content: center;
  position: absolute;
}
.bar-ctn{
  width: 30px;
  background-color: #82888286;
  border-radius: 5px;
  height: 100%;
  display: flex;
  align-items: flex-end;
}
@keyframes fillmat{
  0%{height: 10%;}
  100%{height: 70%;}
}
@keyframes fillcie{
  0%{height: 10%;}
  100%{height: 40%;}
}
@keyframes fillsoc{
  0%{height: 10%;}
  100%{height: 60%;}
}
@keyframes filling{
  0%{height: 10%;}
  100%{height: 80%;}
}
@keyframes fillesp{
  0%{height: 10%;}
  100%{height: 45%;}
}